
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100vh;
}.desktop-8-pTi {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.desktop-8-pTi .menu {
  box-sizing: border-box;
  padding: 5.8rem 6.5rem 66.2rem 4.2rem;
  width: 27rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #007155;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .farmers-1-1-UCp {
  margin: 0rem 0rem 6.6rem 1.7rem;
  width: 14.6rem;
  height: 14.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 19.3rem;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .search-box {
  margin: 0rem 3.6rem 3.4rem 0rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .search-box .search-icon {
  margin: 0rem 2.9rem 0.15rem 0rem;
  width: 2.4rem;
  height: 1.95rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .search-box .search-Q8Q {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .news-box {
  margin: 0rem 4.9rem 0rem 0.6rem;
  width: calc(100% - 5.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .news-box .menu-news-img {
  margin: 0rem 2.5rem 0.175rem 0rem;
  width: 2.2rem;
  height: 1.925rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-8-pTi .menu .news-box .news-kjz {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-8-pTi .main {
  box-sizing: border-box;
  padding: 4.3rem 5.1rem 0rem 3.4rem;
  display: flex;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left {
  margin-right: 7.9rem;
  width: 57.8rem;
  /*height: 101rem;*/
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .auto-group-nhep-g9n {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .auto-group-nhep-g9n .news-daily-PK6 {
  margin: 0rem 0rem 0.2rem 35.3rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .auto-group-nhep-g9n .trending-RWg {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #8dbbff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .news-item-list{
  display: flex;
  height: 700px;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.desktop-8-pTi .main .left .news-item {
  margin-bottom: 4.9rem;
  box-sizing: border-box;
  padding: 1.5rem 3.3rem 1.3rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .news-item .news-img {
  margin: 0rem 2.8rem 0.1rem 0rem;
  width: 15.6rem;
  height: 16.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .news-item .news-text {
  margin-top: 2rem;
  width: 34.3rem;
  flex-shrink: 0;
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item {
  margin-bottom: 2.5rem;
  width: 100%;
  /*height: 8.7rem;*/
  /*position: relative;*/
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item .news-title {
  width: 100%;
  /*height: 2.9rem;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  text-decoration: none;
  /*white-space: nowrap;*/
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item .news-description {
  width: 100%;
  /*height: 6.6rem;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 2.1rem;*/
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item .news-description .news-description-sub-0 {
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item .news-description .news-description-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, 'Source Sans Pro';
}
.desktop-8-pTi .main .left .news-item .news-text .container-news-item .save-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 31.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-8-pTi .main .left .news-item .news-text .news-category {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-8-pTi .main .left .news-item .news-text .news-date {
  margin-left: 24.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-8-pTi .main .right {
  margin: 6rem 0rem 4.1rem 0rem;
  width: 50rem;
  /*height: calc(100% - 16.1rem);*/
  /*position: relative;*/
  flex-shrink: 0;
}
.desktop-8-pTi .main .right .container-shadow {
  width: 45rem;
  height: 65rem;
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  text-align: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.9rem;

}
.desktop-8-pTi .main .right .new-news {
  box-sizing: border-box;
  padding: 1rem 1.4rem;
  width: 13.5rem;
  height: 5rem;
  /*position: absolute;*/
  /*left: 31.7rem;*/
  /*top: 70.2rem;*/
  display: flex;
  align-items: center;
  background-color: #007155;
  border-radius: 0.8rem;
}
.desktop-8-pTi .main .right .new-news .read-more {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.3076923077;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-8-pTi .main .right .new-news .read-more-icon {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-8-pTi .main .right .new-news-title {
  /*width: 29.4rem;*/
  /*height: 4.3rem;*/
  /*position: absolute;*/
  /*left: 9.1rem;*/
  /*top: 37.8rem;*/
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  text-decoration: none;
  font-family: Roboto, 'Source Sans Pro';
  /*white-space: nowrap;*/
}
.desktop-8-pTi .main .right .new-news-description {
  /*width: 40.5rem;*/
  /*height: 15.1rem;*/
  /*position: absolute;*/
  /*left: 4.8rem;*/
  /*top: 43.5rem;*/
  margin: 20px 0 20px 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, 'Source Sans Pro';
}
.desktop-8-pTi .main .right .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-convallis-cum-consequat-consequat-duis-urna-egestas-quis-purus-sit-N1n {
  width: 40.5rem;
  height: 5.7rem;
  /*position: absolute;*/
  /*left: 4.7rem;*/
  /*top: 59.5rem;*/
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, 'Source Sans Pro';
}
.desktop-8-pTi .main .right .new-news-img {
  width: 100%;
  height: 34rem;
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem 0.9rem 0 0;
}
.desktop-8-pTi .main .right .container-date {
  width: 13.0017rem;
  height: 3rem;
  /*position: absolute;*/
  /*left: 4.7rem;*/
  /*top: 72.2rem;*/
  display: flex;
  align-items: center;
}
.desktop-8-pTi .main .right .container-date .date-icon {
  margin: 0.164rem 2.202rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-8-pTi .main .right .container-date .new-news-date {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.144rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
